.header {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding:92px 50px 96px 50px;
    font-size:18px;
}

.header__menu_list {
    display:flex;
    flex-direction: row;
    list-style-type:circle;
    gap: 32px;
}

.underline__link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.underline__link:hover {
    text-decoration: none;
}

.item_active .underline__link {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header-logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    display:flex;
    max-width: 240px;
    flex-direction: column;
    align-items: flex-start;
    line-height: 24.3px;
    font-style:normal;
}

.header__address {
    justify-self: end;
}

.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
    left: 0px;
    top: 0px;
    color:#FFFFFF;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
    position:relative;
    left: 0px;
    top: 0px;
    z-index: 1;
    padding: 165px 50px 106px 50px;
    font-size: 100px;
}

.aligned-text {
    display: grid;
    gap:20px;
    grid-template-rows: repeat(3,1fr);
    line-height: 115px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
    display: inline-flex;
    position:relative;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 22px;
    z-index: 1;
    padding: 0px 50px 50px 50px;
}

.cover__description-text {
    word-spacing: 20px;
}

.bet-button {
    cursor:pointer;
    padding: 12px 32px 11px 31px;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.4s;
}

.bet-button:hover {
    background-color: #FFFFFF;
    color: black;
}

.lots {
    padding:180px 24px 0px 24px ;
}

.lots__heading {
    padding: 0px 0px 27px 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    color: #FFFFFF;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    text-decoration: none;
    height: 100%;
}

.card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    position:relative;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.background-cover-center {
    background-size: cover;
    background-position: center;
}

.card__title {
    font-size: 22px;
    padding: 48px 40px 30px 40px;
    text-decoration: underline;
    text-transform: uppercase;
    position:relative;
    z-index: 1;
}

.card__text {
    flex-direction:column-reverse;
    font-size: 20px;
    line-height: 120%;
    padding: 0px 40px 48px 40px;
    position:relative;
    z-index: 1;
}

.lots__look-more-link {
    display: flex;
    font-size: 20px;
    padding: 30px 0px 0px 40px;
}

.about {
    padding: 120px 24px 0px 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
}

.about__column-logo {
    padding-top: 35px;
}

.about__column-content {
    padding: 133px 0px 0px 25px;
}

.about__logo {
    display: flex;
    justify-self:center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #000 ;
    width: 240px;
    height: 240px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 3px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-size: 20px;
    line-height: 24px;
    gap:24px;
}

.footer {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 180px 50px 82px 50px;
    font-size: 18px;
}

.footer__menu-list {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-list {
    display:flex;
    flex-direction: row;
    justify-self: end;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}